 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1146px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 1041px;
  margin: 60px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -941px auto 0 75px;
}

.u-section-1 .u-text-2 {
  text-align: start;
  font-weight: 500;
  margin: 75px auto 0 75px;
}

.u-section-1 .u-text-3 {
  text-align: start;
  font-weight: 500;
  margin: -39px 815px 0 152px;
}

.u-section-1 .u-text-4 {
  text-align: start;
  font-weight: 600;
  margin: 21px 815px 0 75px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.75rem;
  background-image: linear-gradient(to right, #fbb03b, black);
  font-weight: 300;
  margin: 45px auto 0 230px;
  padding: 2px 17px 3px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 0.875rem;
  background-image: linear-gradient(to right, #3bbb6e, black);
  font-weight: 300;
  margin: -33px auto 0 75px;
  padding: 2px 17px 3px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 82px 988px 0 75px;
}

.u-section-1 .u-text-6 {
  margin: -150px 719px 0 152px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 25px 829px 0 75px;
}

.u-section-1 .u-text-8 {
  margin: -25px 737px 0 244px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  text-align: start;
  margin: 0 829px 0 75px;
}

.u-section-1 .u-text-10 {
  text-align: start;
  margin: -25px 737px 60px 320px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 995px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 866px;
    margin-top: 79px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -799px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 39px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 604px;
    margin-left: 151px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 8px;
    margin-right: 616px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 39px;
    margin-left: 221px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 50px;
    margin-right: -45px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: -121px;
    margin-left: 151px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-right: 629px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 535px;
    margin-left: 246px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 629px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 385px;
    margin-left: 319px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 991px;
  }

  .u-section-1 .u-image-1 {
    width: 376px;
    height: 675px;
    margin-top: 82px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -599px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 360px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 384px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 233px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 122px;
    margin-right: -74px;
  }

  .u-section-1 .u-text-6 {
    margin-right: -151px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 409px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 318px;
    margin-left: 243px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 409px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 168px;
    margin-bottom: 20px;
    margin-left: 317px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-1 .u-image-1 {
    width: 258px;
    height: 463px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -500px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 82px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 270px;
    margin-left: 92px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 21px;
    margin-right: 279px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    margin-left: 133px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 61px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: -73px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 12px;
    margin-right: 304px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 213px;
    margin-left: 168px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 304px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 61px;
    margin-bottom: 60px;
    margin-left: 243px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 311px;
    margin-top: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -426px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -26px;
    margin-right: 156px;
    margin-left: 52px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 8px;
    margin-right: 156px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -33px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -85px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 98px;
    margin-right: 265px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 75px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 2px;
    margin-right: 104px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 12px;
    margin-left: 169px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 5px;
    margin-right: 104px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-bottom: -65px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 865px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  font-weight: 300;
  margin: 25px auto 0 344px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 58px auto 0 77px;
}

.u-section-2 .u-text-3 {
  margin: 12px auto 0 77px;
}

.u-section-2 .u-image-1 {
  height: 425px;
  margin-top: -280px;
  margin-bottom: 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  font-weight: 300;
  text-align: start;
  margin: 25px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 46px auto 0 77px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: -25px 210px 0 282px;
}

.u-section-2 .u-text-7 {
  margin: 20px 210px 0 282px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  text-align: start;
  margin: 57px 209px 0 283px;
}

.u-section-2 .u-text-9 {
  text-align: start;
  margin: -49px auto 0 77px;
}

.u-section-2 .u-text-10 {
  text-align: start;
  margin: 45px 210px 25px 282px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 284px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 257px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 257px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 257px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -50px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin: 65px 35px 60px 257px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 23px;
    margin-right: 115px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 60px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -312px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -55px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 65px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -95px;
  }

  .u-section-2 .u-text-10 {
    margin: 90px 0 24px 72px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -208px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -25px;
    margin-right: 140px;
    margin-left: 159px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -364px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -18px;
    margin-right: 130px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 35px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -25px;
    margin-left: 225px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 15px;
    margin-left: 225px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 32px;
    margin-left: 225px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -75px;
    margin-right: 315px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 225px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 15px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 44px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 161px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -398px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-top: 40px;
    margin-right: 259px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -50px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 2px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 25px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -100px;
    margin-right: 271px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 15px;
    margin-bottom: 1px;
    margin-left: 75px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  font-weight: 300;
  text-align: start;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  text-align: start;
  margin: 40px 958px 0 77px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-align: start;
  margin: -25px 375px 0 283px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-align: start;
  margin: 20px 375px 0 283px;
}

.u-section-3 .u-text-5 {
  text-align: start;
  margin: -25px 958px 0 77px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  text-align: start;
  margin: 20px 248px 0 283px;
}

.u-section-3 .u-text-7 {
  text-align: start;
  margin: -25px 958px 0 77px;
}

.u-section-3 .u-text-8 {
  text-align: start;
  margin: 20px 958px 0 77px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  text-align: start;
  margin: -25px 122px 0 283px;
}

.u-section-3 .u-text-10 {
  text-align: start;
  margin: 20px 958px 0 77px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  text-align: start;
  margin: -25px 77px 0 283px;
}

.u-section-3 .u-text-12 {
  text-align: start;
  margin: 20px 958px 0 77px;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  text-align: start;
  margin: -25px 77px 0 283px;
}

.u-section-3 .u-image-1 {
  width: 45px;
  height: 45px;
  margin: 93px 0 0 auto;
}

.u-section-3 .u-image-2 {
  width: 45px;
  height: 45px;
  margin: -45px 116px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 45px;
  height: 45px;
  margin: -45px 58px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 751px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 147px;
    margin-left: 311px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 147px;
    margin-left: 311px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 758px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 20px;
    margin-left: 311px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 758px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 758px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-right: 0;
    margin-left: 311px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 758px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-right: 55px;
    margin-left: 311px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-right: 758px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-right: 0;
    margin-left: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 43px;
    margin-right: 608px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 226px;
    margin-left: 124px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 12px;
    margin-right: 152px;
    margin-left: 124px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 615px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 12px;
    margin-right: 0;
    margin-left: 124px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 615px;
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 12px;
    margin-right: 615px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 124px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 12px;
    margin-right: 615px;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-right: 22px;
    margin-left: 124px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 12px;
    margin-right: 615px;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 124px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 428px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -24px;
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -51px;
    margin-right: 428px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 46px;
    margin-left: 112px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -50px;
    margin-right: 428px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 38px;
    margin-right: 428px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 112px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 13px;
    margin-right: 428px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 13px;
    margin-right: 428px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 112px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 74px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 108px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 54px;
    margin-bottom: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 608px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 228px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -25px;
    margin-left: 92px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 9px;
    margin-left: 92px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -50px;
    margin-right: 255px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 9px;
    margin-left: 92px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -75px;
    margin-right: 255px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 33px;
    margin-right: 255px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -50px;
    margin-left: 92px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 9px;
    margin-right: 255px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -51px;
    margin-left: 92px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 9px;
    margin-right: 255px;
    margin-left: -13px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 93px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 45px;
  }

  .u-section-3 .u-image-3 {
    margin-bottom: 8px;
  }
}